body {
    background-color: #000000;
  }
  
  h1,h2,h3 {
    font-family: sans-serif;
  }
  
  #content {
    margin: 10px;
    padding: 10px;
    border: solid 5px #b9a7be;
    background-color: #ffffff;
  }

  .text p {
    display: inline-block;
    max-width: 60%;
    margin-top :5px;
    padding :10px;
    border-radius :15px;
    font-family :'Arial', sans-serif ;
    font-size :.75em ;
    color :#FFFFFF ;
  }
  .imput {
    color: rgb(255, 0, 0);
}